*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Muli', sans-serif;
  font-size: 1em;
  position: relative;
}

a {
  text-decoration: none;
  color: inherit;
}

li {
  list-style: none;
}

.header {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  padding-left: 20px;
  box-shadow: 0 1px 2px ;
}

.menu {
  width: 40%;  
  height: 100%;
  position: relative;
}

.menu__list {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menu__items {
  width: 100%;
  height: 100%;  
  display: flex;
  justify-content: inherit;
  align-items: inherit;
}

.menu__link {
  width: inherit;
  height: 100%;
  display: flex;
  justify-content: inherit;
  align-items: inherit;
  font-size: 1.1em;  
  border-left: 1px solid #cecece;
}

.menu__link:hover {  
  background: #f5f4f4;
}

.menu__dropdown {
  width: 33%;
  height: auto;
  text-align: center;
  position: absolute;  
  top: 50px;
}

.dropdownContent__link {
  display: block;
  padding: .8em;
  border: 1px solid #cecece;
}

.dropdownContent__link:hover {
  background: #fafafa;
}

/* MENU ACORDiON */

main {
  width: 60%;
  height: auto;
  margin: 40px auto;
  padding: 15px;  
  box-shadow: 0px 0px 3px;
}

p {
  text-align: justify;
}
.wrapper {
  width: 100%;  
  overflow: hidden;  
}

.wrapper:first-child {
  border-radius: 5px 5px 0 0;
}

/* .wrapper:nth-child(5) {
  border-radius: 5px 5px 0 0;
} */

.btnAcordion {
  width: 100%;
  height: 40px;
  margin: 0;
  border: none;
  border-bottom: 1px solid #cecece;
  cursor: pointer;
  transition: .5s;
  background: indianred;
  color: white;  
  font-size: .9em;
}

.acordionContent {
  /* height: auto; */
  display: none;
  padding: 15px;
  transition: all .5 easy;
}

.btnAcordion:hover {
  background: rgb(246, 110, 110);
}

/* MODAL */

.reto-3 {
  width: 60%;
  height: auto;
  margin: 40px auto;
  padding: 15px;  
  box-shadow: 0px 0px 3px;
}
.registration { 
  width: 100%; 
  display: flex;  
  flex-direction: column;
  justify-content: center;
  align-items: center;  
}

.btnModal {
  padding: 10px;
}

.modalWindow {
  position: absolute;
  padding: 20px 0;
  width: 20%;
  top: 50%;
  left: 40%;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 5px;
  display: none;
}

.modal{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

h2 {  
  margin-bottom: 10px;
}

.registration p{
  margin: 20px 0;
}

input {
  width: 80%;
  margin-top: 5px;
  padding: 10px;
  margin: 5px 0;
}

.register {
  padding: 10px;
  margin-top: 10px;
}

.close {
  position: absolute;
  width: 20px;
  top: 10px;
  right: 10px;
}
